:root {
  --body-text-color: #757575;
  --scnd-body-text-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --scnd-background-color: #f5f4fa;
  --footer-background: #2f303a;
  --transform: cubic-bezier(0.4, 0, 0.2, 1);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
button {
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  color: #757575;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */
.header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.navigation,
.navigation-list,
.links {
  display: flex;
  align-items: center;
}
.logo,
.logo-part {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: var(--title-color);
  margin-right: 93px;
}
.logo-part {
  color: var(--accent-color);
}
.list {
  list-style: none;
}
.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  margin-right: 32px;
}
.navigation-item:last-child {
  margin-right: 0;
}
.link {
  text-decoration: none;
  display: block;
}
.link-item {
  margin-right: 32px;
}
.link-item:last-child {
  margin-right: 0;
}
.navigation .link,
.links .link,
.footer .link {
  transition: color 250ms var(--transform);
}

.navigation .link:hover,
.navigation .link:focus,
.links .link:hover,
.links .link:focus,
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.navigation .link {
  color: var(--title-color);
}
.navigation .link.current {
  position: relative;

  color: var(--accent-color);
}
.navigation .link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -34px;

  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.links .link {
  color: var(--body-text-color);
  display: flex;
  align-items: center;
}
.icon-envelope-phone {
  margin-right: 10px;
  fill: currentColor;
}

/* hero */
.hero {
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--scnd-body-text-color);
  margin-bottom: 30px;
}
.main-btn {
  min-width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--scnd-body-text-color);
  padding: 10px;
  margin: 0 auto;

  transition: background-color 250ms var(--transform);
}
.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

/* specifics */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.specifics {
  padding-bottom: 0;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.specifics-list {
  display: flex;
}

.specifics-item {
  margin-right: 30px;
  min-width: 270px;
}
.specifics-item:last-child {
  margin-right: 0;
}
.specifics-icon-container {
  height: 120px;
  background-color: var(--scnd-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specifics-icon {
  width: 70px;
  height: 70px;
}
.section-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

/* work */

.work-list {
  display: flex;
  justify-content: center;
}
.work-type {
  margin-right: 30px;
}
.work-type:last-child {
  margin-right: 0;
}
.img-thumb {
  position: relative;
}
.work-desc {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* team */

.team {
  background-color: var(--scnd-background-color);
}
.team-list {
  display: flex;
  justify-content: center;
}
.team-item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  background-color: white;
}
.team-item:last-child {
  margin-right: 0;
}
.team-desc-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 10px;
}
.team-member-desc {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--body-text-color);
  margin-bottom: 16px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms var(--transform);
}
.social-links-item {
  margin-right: 10px;
}
.social-links-item:last-child {
  margin-right: 0;
}
.social-link-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms var(--transform);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-link-icon,
.social-link:focus .social-link-icon {
  fill: #ffffff;
}

/* clients */

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-list-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.clients-list-item:last-child {
  margin-right: 0;
}
.clients-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition: fill 250ms var(--transform);
}
.clients-item-link {
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border 250ms var(--transform);
}
.clients-item-link:hover,
.clients-item-link:focus {
  border: 1px solid var(--accent-color);
}
.clients-item-link:hover .clients-logo,
.clients-item-link:focus .clients-logo {
  fill: var(--accent-color);
}

/* footer */

.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.address-container {
  /* margin-right: 70px; */
}
.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--scnd-body-text-color);
  margin-bottom: 9px;
}
.scnd-logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  color: var(--scnd-body-text-color);
  margin-right: 0;
  margin-bottom: 20px;
}
.footer .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link {
  margin-bottom: 9px;
}
.footer-link:last-child {
  margin-bottom: 0;
}

.footer .social-links {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer .title {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--accent-color);
}
.footer .social-link-icon {
  fill: white;
}

.subscribe-container {
  display: flex;
  align-items: baseline;
}
.footer-input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: border 250ms var(--transform);
}
.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--accent-color);
}
.footer-btn-icon {
  margin-left: 10px;
}

/* portfolio */

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item {
  margin-right: 8px;
}
.button-item:last-child {
  margin-right: 0;
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;

  background-color: var(--scnd-background-color);
  color: var(--title-color);
  border-radius: 4px;

  transition: background-color 250ms var(--transform),
    color 250ms var(--transform), box-shadow 250ms var(--transform);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--scnd-body-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-item {
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.overlay-text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-item-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms var(--transform);
}

.portfolio-item-link {
  display: block;

  transition: box-shadow 250ms var(--transform);
}
.portfolio-item-link:hover .portfolio-overlay,
.portfolio-item-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item-link:hover,
.portfolio-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-desc-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  padding-bottom: 4px;

  color: var(--title-color);
}
.portfolio-desc {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;

  color: var(--body-text-color);
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--transform), visibility 250ms var(--transform);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--transform);
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.close-icon {
  fill: #000;

  transition: fill 250ms var(--transform);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-color);
}
.form-field {
  margin-bottom: 10px;
}
.input-wrap {
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 30px;

  transition: border 250ms var(--transform);
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--body-text-color);
  margin-bottom: 4px;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  transition: fill 250ms var(--transform);
}
.textarea-field {
  margin-bottom: 20px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  transition: border 250ms var(--transform);
}
.modal-input:hover,
.modal-input:focus,
.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid var(--accent-color);
}
.modal-input:hover + .input-icon,
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.checkbox-field {
  margin-bottom: 30px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--body-text-color);
}
.modal-link {
  color: var(--accent-color);
}
.modal-checked-icon {
  border: 2px solid #212121;
  border-radius: 2px;
  fill: transparent;
  margin-right: 8px;

  transition: border 250ms var(--transform),
    background-color 250ms var(--transform), border-color 250ms var(--transform);
}

.modal-check:focus + .modal-checked-icon,
.modal-check:hover + .modal-checked-icon {
  border-color: var(--accent-color);
}
.modal-check:checked + .modal-checked-icon {
  border-color: transparent;
  background-color: var(--accent-color);
}
